body {
padding: 10px;
padding-top: 10px;
background-color: white;
text-decoration-color: black;
text-align: center;
}

nav{
text-decoration-color: black; 
padding-top: 20px;
padding-right: 30px;
padding-left: 10px;
text-decoration: none;
}

head{
text-decoration-color: black;
padding-top: 20px;
padding-right: 30px;
padding-left: 10px;}

a:hover{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    font-size: larger;
    padding-left: 10px;
    padding-right: 5px;
}
    

body{
   background-color:rgb(247, 207, 134);
}
.imagem{
    text-align: center;
    width: 450px;
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
li{
    padding: auto;
    list-style: none;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    text-align: left;
    font-size: 25px;
}
h1{
    font-size: 19px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}
h2{
    font-size: 30px;
}
h1,h2,p{
    font-stretch: condensed;
}
