@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
    --color-1:#fce573;
    --color-2:#ebbb2e;
    --color-3:#F29F05;
    --color-4:#90c0ff;
    --color-5:#f16616ee;
    --color-6:#3F77BF;
    --color-7:#FFFFFF;
    --color-8:#423E4F;
    --color-9:#000000;
    --color-10:#555;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color:var(--color-9);
}

  
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    gap:5%;
}
.close-icon{
    width: 5%;
    height: 5%;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-image: url(/assets/img_fundo.png);
    background-size: cover;
    background-position: center 30%;
    height: 80%;
    border-radius: 16px;
    padding: 1.5rem 40px;
}
  
h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-6);
}
  
label {
    margin-bottom: .2rem;
    position: relative;
}

label:not(:first-of-type){
    margin-top: 1rem;
}
  
input {
    font-size: 1rem;
    padding: .2rem .5rem;
    border-radius: 8px;
}   
  
textarea {
    font-size: 1rem;
    padding: .2rem .5rem;
    border-radius: 8px;
} 

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}
  
button {
    width: 80%;
    height: 100%;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    align-self: center;
    color: var(--color-7);
    border-radius: 8px;
    background-color: var(--color-6);
    padding: auto;
    cursor: pointer;
    gap: 5%;
}

.required-popup::after {
    content: "* Campo obrigatório";
    position: absolute;
    right: 0;
    top: 15%;
    color: var(--color-7);
    font-size: .65rem;
    padding: .3rem .3rem;
    width: auto;
    display: block;
    border-radius: 2px;
    background-color: var(--color-9);
}   

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}
textarea.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}
  
textarea.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}

.visible {
  display: block;
}

#successMessage {
    display: none; /* Inicialmente escondido */
    color: var(--color-6); /* Cor do texto */
    font-size: 1.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    padding: 1rem; /* Espaçamento interno */
    background-color: var(--color-7); /* Cor de fundo */
    border: 2px solid var(--color-6); /* Borda */
    border-radius: 8px; /* Bordas arredondadas */
    
    /* Centralização */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Centralizar o texto */
    width: auto; /* Ajusta automaticamente a largura */
    z-index: 1000; /* Garante que a mensagem fique na frente */
}
:placeholder-shown {
    border: 2px solid var(--color-6); /* Borda */
}   
#message {
    width: 100%; /* Aumenta a largura para 100% do contêiner */
    height: 300%; /* Define uma altura maior para o campo */
    padding: 2%; /* Espaçamento interno para mais conforto ao digitar */
    font-size:1rem; /* Aumenta o tamanho da fonte */
    box-sizing: border-box; /* Contêiner com o tamanho do conteúdo */
}