@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* definicao do layout da pagina, bordas e estilo*/
*{
    margin:0;
    padding: 0;
}

/* definicao de cores e fontes*/
:root{
    --color-1:#fce573;
    --color-2:#ebbb2e;
    --color-3:#F29F05;
    --color-4:#90c0ff;
    --color-5:#f16616ee;
    --color-6:#3F77BF;
    --color-7:#FFFFFF;
    --color-8:#423E4F;
    --color-9:#000000;
    --color-10:#555;
}

/* definicao de cor e fontes da pagina*/
body{
    background-color: var(--color-1);
    font-family:"Nunito", sans-serif;
}

/*definicao header*/
.header{
    background-image: url(/assets/img_fundo.png);
    background-size: cover;
    background-position: center 30%;
    height: 100x;

    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:20px;
}

.header_img{
    width: 100px;
}

.header_menu_nav{
    font-size: 2rem;
    color:var(--color-7);
    text-decoration: none;
    cursor: pointer;
}
.header_menu_nav_img{
    width: 15%;
    height: 15%;
    margin-left: 5%;
    gap: 15px;
}
.header_menu_nav:hover{
    color:var(--color-5);
}
ul{
    display:flex;
    list-style-type: none;
    gap: 20px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: var(--color-6);
    font-size: 2rem;
    gap: 20px;
    padding: 20px;
}
.text-box {
    width:100%;
    height: 20%;
    padding: 10px;
}
.text-box video {
    width: 50%; /* Define a largura do vídeo como 50% do contêiner pai */
    border-radius: 15px; /* Mantém as bordas arredondadas */
    border: 5px solid var(--color-3); /* Mantém a borda ao redor do vídeo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Mantém a sombra */
    display: block; /* Necessário para centralizar com margin */
    margin: 20px auto; /* Centraliza o vídeo horizontalmente */
}
.content1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.card {
    background-color: var(--color-7);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    padding: 20px;
    text-align: center;
    border: 2px solid var(--color-3);
}
.card-title{
    color: var(--color-6);
    font-size: 1.5rem;
}
.card img {
    background-color: var(--color-7);
    width: 75%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.informations{
    display: flex;
    justify-content:center;
    font-size: 2rem;
    color: var(--color-6);
    gap:2%;
    padding: auto;
}
.informations_icon{
  font-size: 1rem;
}
.informations_icon_img{
    width: 50px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
}
footer{
    background-image: url(/assets/img_fundo.png);
    background-size:auto;
    background-position: center 50%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-6);
    text-align: center;
    color: var(--color-7);
    font-size: 1rem;
}
button{
    border-radius: 8px;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    background-color: #3F77BF;
    border-color: #3F77BF;
    color: #FFFFFF;
    margin-top:  20px;
    cursor: pointer;
    gap: 5%;
}

button:hover{
    background: #90c0ff;
    box-shadow: inset 2px 2px 2px rgba(20, 1, 130, 0.22);
}