::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-1:#fce573;
    --color-2:#ebbb2e;
    --color-3:#F29F05;
    --color-4:#90c0ff;
    --color-5:#f16616ee;
    --color-6:#3F77BF;
    --color-7:#FFFFFF;
    --color-8:#423E4F;
    --color-9:#000000;
    --color-10:#555;
}

body {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
}
.close-icon{
    width: 5%;
    height: 5%;
    cursor: pointer;
    gap:5%;
}
body, textarea{
    
    font-family: "Nunito", sans-serif;
    color: var(--color-6);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--color-6);
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: var(--color-6);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adiciona espaçamento entre os elementos */
}

h1 {
    color: var(--color-6);
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}